Repository jeron-diovis/redux-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

.lintstagedrc:

{
  "src/**/*.{js,ts}{,x}": [
    "eslint --cache --fix --max-warnings=0"
  ],
  "src/**/*.{s,}css": [
    "stylelint --cache --fix --max-warnings=0"
  ]
}

[setup] downgrade back to react-scripts@4.0.3, because of broken chunks splitting in webpack@5 See https://stackoverflow.com/questions/71330484/webpack-5-splitchunks-breaks-webpackdevserver/
  package.json
  yarn.lock
Due: none

[setup] minor linting cleanup
  config-overrides.js
Due: none

[setup] eslint: enforce boolean props shorthand
  .eslintrc.js
Due: none

[setup] use `addWebpackPlugin` helper instead of own one
  config-overrides.js
Due: none

[setup] convert analyzer ports to string before comparing them
  config-overrides.js
Due: none

[setup] Downgrade react-error-overlay to `6.0.9`, to prevent bug related to react-scripts@5. See https://stackoverflow.com/a/70452191/3437433
  package.json
  yarn.lock
Due: none

[setup] setup error-overlay handler before rendering app
  src/index.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] set explicit text color for form debugger
  src/components/base/form/Form/debugger.module.scss
Due: stylelint --cache --fix --max-warnings=0

[setup] Fix missing `label` prop passed from FieldInput to FieldControl
  src/components/base/form/FieldInput/FieldInput.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] set more explicit styles for form debugger, to prevent it be screwed by css-resets
  src/components/base/form/Form/debugger.module.scss
Due: stylelint --cache --fix --max-warnings=0

[setup] FormControl: show `error.msg ?? defaultMsg`, instead of vice versa
  src/components/base/form/FieldControl/FieldControl.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] * Grid: recognize `columns=1` prop as default column layout * Form: add `FormError` helper component; allow to configure form controls layout with props
  src/components/base/form/Form/Form.module.scss
  src/components/base/form/Form/Form.tsx
  src/components/base/form/Form/FormDebug.module.scss
  src/components/base/form/Form/FormDebug.tsx
  src/components/base/form/Form/FormError.tsx
  src/components/base/form/Form/index.ts
  src/components/base/form/Form/types.ts
  src/components/layouts/Grid/Grid.tsx
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] Form: add integration with Yup validator
  package.json
  src/components/base/form/Form/index.ts
  src/components/base/form/Form/types.ts
  src/components/base/form/Form/yup-resolver.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[setup] fix up storybook setup
  .storybook/main.js
  package.json
  yarn.lock
Due: none

[setup] fix up passing label in Select / Checkbox fields
  src/components/base/form/FieldCheckbox/FieldCheckbox.tsx
  src/components/base/form/FieldSelect/FieldSelect.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] add styles for Select
  src/components/base/controls/Select/Select.tsx
  src/components/base/controls/Select/styles.module.scss
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] FieldInput: sync form min/max validators with corresponding attributes of number input
  src/components/base/form/FieldInput/FieldInput.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] Select: add 'invalid' prop and styles for invalid state
  src/components/base/controls/Select/Select.tsx
  src/components/base/controls/Select/styles.module.scss
  src/components/base/controls/Select/types.ts
  src/components/base/form/FieldSelect/FieldSelect.tsx
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] Form: - add `defaultValue` prop for fields - resolve any kind of error message to react node - add FileInput via react-dropzone
  package.json
  src/components/base/ErrorMessage/ErrorMessage.tsx
  src/components/base/controls/Control/Control.tsx
  src/components/base/controls/Control/lib.ts
  src/components/base/controls/Control/styles.module.scss
  src/components/base/controls/Control/types.ts
  src/components/base/controls/FileInput/FileInput.tsx
  src/components/base/controls/FileInput/index.ts
  src/components/base/controls/FileInput/styles.module.scss
  src/components/base/controls/FileInput/types.ts
  src/components/base/controls/index.ts
  src/components/base/form/FieldCheckbox/FieldCheckbox.tsx
  src/components/base/form/FieldControl/FieldControl.tsx
  src/components/base/form/FieldControl/types.ts
  src/components/base/form/FieldFileInput/FieldFileInput.tsx
  src/components/base/form/FieldFileInput/index.ts
  src/components/base/form/FieldFileInput/types.ts
  src/components/base/form/FieldInput/FieldInput.tsx
  src/components/base/form/FieldRadio/FieldRadio.tsx
  src/components/base/form/FieldSelect/FieldSelect.tsx
  src/components/base/form/Fieldset/Fieldset.tsx
  src/components/base/form/Form/BaseForm.tsx
  src/components/base/form/Form/Form.module.scss
  src/components/base/form/Form/Form.tsx
  src/components/base/form/Form/types.ts
  src/components/base/form/index.ts
  src/utils/index.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] FileInput: prevent double-opening file dialog on click
  src/components/base/controls/FileInput/FileInput.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] eslint: add storybook rules. Upd. prettier setup.
  .eslint/prettier.js
  .eslint/storybook.js
  .eslintrc.js
  package.json
  yarn.lock
Due: none

[setup] add json-server boilerplate
  .husky/pre-commit
  package.json
  prepare.sh
  server/.gitignore
  server/.lintstagedrc
  server/README.md
  server/nodemon.json
  server/package.json
  server/public/.gitkeep
  server/src/const.ts
  server/src/db/generators.ts
  server/src/db/index.ts
  server/src/index.ts
  server/src/server.ts
  server/tsconfig.json
  server/yarn.lock
Due: none

[setup] add `filesize` util. Format size in errors produced by react-dropzone
  package.json
  src/components/base/form/FieldFileInput/FieldFileInput.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[setup] BaseForm: alloow to use `setValueAs` helper on any control – either created by `register` directly or one created by `useController` hook.
  src/components/base/form/FieldControl/types.ts
  src/components/base/form/Form/BaseForm.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] include more lodash features in build, to use curried fp helpers
  config-overrides.js
Due: none

[setup] eslint: fix imports grouping, react/redux rules also include package nested paths
  .eslint/imports.js
Due: none

[setup] add basic Accordion component
  src/components/base/Accordion/Accordion.tsx
  src/components/base/Accordion/index.ts
  src/components/base/Accordion/styles.module.scss
  src/components/base/Accordion/types.ts
  src/components/base/index.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] FileInput: separate props for text and icon. Fix passing it through FieldFileInput.
  src/components/base/controls/FileInput/FileInput.tsx
  src/components/base/controls/FileInput/styles.module.scss
  src/components/base/controls/FileInput/types.ts
  src/components/base/form/FieldFileInput/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] Form: * extract patched `useForm` hook to use out of `Form` component. * add `FormContext` component to access form wherever it's needed in markup
  src/components/base/form/Form/BaseForm.tsx
  src/components/base/form/Form/FormContext.tsx
  src/components/base/form/Form/index.ts
  src/components/base/form/Form/types.ts
  src/components/base/form/Form/useForm.ts
Due: eslint --cache --fix --max-warnings=0

[setup] basic Modal component
  package.json
  src/components/base/Modal/Modal.tsx
  src/components/base/Modal/index.ts
  src/components/base/Modal/styles.module.scss
  src/components/base/Modal/types.ts
  src/components/base/Modal/useModal.tsx
  src/components/base/index.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] basic Tooltip component
  package.json
  src/components/base/Tooltip/Tooltip.tsx
  src/components/base/Tooltip/index.ts
  src/components/base/Tooltip/styles.module.scss
  src/components/base/Tooltip/types.ts
  src/components/base/index.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] fix broken eslint config for storybook build
  .eslint/storybook.js
Due: none

[setup] fix linter errors
  src/features/User/thunks.ts
  src/hooks/index.ts
  src/hooks/useSwitch.ts
  src/store.ts
Due: eslint --cache --fix --max-warnings=0

[setup] Accordion: fix body-max-height prop
  src/components/base/Accordion/Accordion.tsx
  src/components/base/Accordion/types.ts
Due: eslint --cache --fix --max-warnings=0

[setup] pass ReactNode as page title
  src/components/layouts/Page/types.ts
Due: eslint --cache --fix --max-warnings=0

[setup] fix up Checkbox control and field
  src/components/base/controls/Input/Input.tsx
  src/components/base/controls/Input/styles.module.scss
  src/components/base/form/FieldCheckbox/FieldCheckbox.tsx
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] fix resolution for native js modules
  config-overrides.js
Due: none

[setup] Style fixes. useModal: don't render closed modals at all. Form: add prop to justify controls.
  src/components/base/Accordion/styles.module.scss
  src/components/base/Modal/styles.module.scss
  src/components/base/Modal/useModal.tsx
  src/components/base/form/Form/Form.module.scss
  src/components/base/form/Form/Form.tsx
  src/components/base/form/Form/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] eslint: disable specific rules for js files out of `src` folder
  .eslintrc.js
  config-overrides.js
  get-cra-deps.js
  src/setupProxy.js
Due: eslint --cache --fix --max-warnings=0

[setup] fix copy-pasted imports
  src/components/base/Modal/styles.module.scss
  src/components/base/Tooltip/styles.module.scss
  src/components/base/controls/Control/styles.module.scss
  src/components/base/controls/FileInput/styles.module.scss
Due: stylelint --cache --fix --max-warnings=0
