Repository jeron-diovis/redux-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

.lintstagedrc:

{
  "src/**/*.{js,ts}{,x}": [
    "eslint --cache --fix --max-warnings=0"
  ],
  "src/**/*.{s,}css": [
    "stylelint --cache --fix --max-warnings=0"
  ]
}

more app in `example` folder
  example/App.module.css
  example/App.tsx
  example/index.css
  example/index.html
  example/main.tsx
  example/public/vite.svg
  example/types/jsx-if.d.ts
  example/types/vite-env.d.ts
  package.json
  tsconfig.json
Due: none

reorganize files structure
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc.cjs
  example/App.tsx
  index.html
  src/App.module.css
  src/App.tsx
  src/Counter.tsx
  src/assets/react.svg
  src/cache.ts
  src/index.css
  src/index.ts
  src/logger.ts
  src/main.tsx
  src/types/jsx-if.d.ts
  src/types/vite-env.d.ts
  src/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

remove all unneeded boilerplate stuff
  .eslint/imports.cjs
  .vite/cfg.chunk-split.ts
  .vite/cfg.css.ts
  .vite/cfg.json-server.ts
  .vite/cfg.modular-imports.ts
  .vite/cfg.react.ts
  .vite/index.ts
  example/types/vite-env.d.ts
  mock/api.mock.ts
  mock/tsconfig.json
  package.json
  public/vite.svg
  vite.config.ts
  yarn.lock
Due: none

configure node package build
  .eslintrc.cjs
  .gitignore
  .vite/cfg.bundle-visualizer.ts
  package.json
  tsconfig.build.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: none

[setup] Install the latest version of mock-dev-server plugin, which doesn't require `server.proxy` option to be configured. Move proxy settings to a dedicated module.
  .vite/cfg.json-server.ts
  .vite/cfg.proxy.ts
  .vite/index.ts
  mock/api.mock.ts
  package.json
  yarn.lock
Due: none

[setup] clean up
  .lintstagedrc.cjs
  .vite/cfg.modular-imports.ts
Due: none

[setup] put global styles into dedicated folder
  src/main.tsx
  src/styles/button.css
  src/styles/index.css
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] add postcss-nested plugin
  .postcssrc.yml
  package.json
  src/App.module.css
  src/styles/button.css
  yarn.lock
Due: stylelint --cache --fix --max-warnings=0

[setup] add postcss-custom-selectors plugin
  .postcssrc.yml
  install.sh
  package.json
  yarn.lock
Due: none

[setup] add postcss-mixins plugin. Rewrite stylelint config to separate css-mixins at-rules from scss ones.
  .postcssrc.yml
  .stylelintrc.yml
  install.sh
  package.json
  yarn.lock
Due: none

[setup] improve vite-config merger. Allow to get access to vite env in each plugin.
  .vite/cfg.bundle-visualizer.ts
  .vite/cfg.chunk-split.ts
  .vite/cfg.json-server.ts
  .vite/cfg.lint.ts
  .vite/cfg.modular-imports.ts
  .vite/cfg.node-compat.ts
  .vite/cfg.proxy.ts
  .vite/cfg.react.ts
  .vite/cfg.styles.ts
  .vite/index.ts
  .vite/lib.ts
  vite.config.ts
Due: none

[setup] config chunks: support async vite configs
  .vite/lib.async.ts
  .vite/lib.ts
  tsconfig.node.json
Due: none

[setup] clean up async config chunks logic. Get rid of "smart" returning sync/async configs depending on arguments. Who cares whether config is promise or not?
  .vite/lib.async.ts
  .vite/lib.ts
Due: none

[setup] clean up
  .vite/index.ts
  .vite/lib.ts
  vite.config.ts
Due: none

[setup] suppress some weird types mismatch between vite and rollup plugins
  .vite/cfg.node-compat.ts
Due: none

[setup] vitest TODO: test on pre-push
  .eslintrc.cjs
  .lintstagedrc.cjs
  .vite/cfg.tests.ts
  .vite/index.ts
  package.json
  src/App.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[setup] some reorganize plugins config
  .vite/cfg.build-analysis.ts
  .vite/cfg.react.ts
  .vite/index.ts
  vite.config.ts
Due: none

[setup] fix arrays deep merge logic: if left value is undefined, just assign right value as it is
  .vite/lib.ts
Due: none

[setup] use vite-split-config for managing config chunks
  .vite/cfg.build-analysis.ts
  .vite/cfg.chunk-split.ts
  .vite/cfg.json-server.ts
  .vite/cfg.lint.ts
  .vite/cfg.modular-imports.ts
  .vite/cfg.node-compat.ts
  .vite/cfg.proxy.ts
  .vite/cfg.react.ts
  .vite/cfg.styles.ts
  .vite/cfg.tests.ts
  .vite/index.ts
  .vite/lib.ts
  package.json
  vite.config.ts
  yarn.lock
Due: none

[setup] add @vitest/ui
  package.json
  yarn.lock
Due: none

[setup] clean up
  vite.config.ts
Due: none

[setup] add script for easy opening bundle stats files
  package.json
  view-stats.sh
Due: none

[setup] upgrade `vite-split-config`
  package.json
  yarn.lock
Due: none

[setup] stylelint: allow 'module' 'extension' for scss imports
  .stylelintrc.yml
Due: none

[setup] stylelint: don't add empty line after comments
  .stylelintrc.yml
Due: none

[setup] ensureTrailingSlash: handle empty string correctly
  src/api/api.ts
Due: eslint --cache --fix --max-warnings=0

[setup] Control: set default layout to `col`
  src/components/base/controls/Control/Control.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] cleanup: remove an unnecessary type assertion
  src/components/base/form/FieldSelect/FieldSelect.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] eslint: allow anonymous default export for arrays and objects
  .eslint/imports.cjs
Due: none

[setup] update `install` script
  install.sh
Due: none

[setup] proper setup for @testing-library dom tests
  .vite/cfg.tests.ts
  install.sh
  package.json
  src/App.test.ts
  src/App.test.tsx
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[setup] restrict prettier version because of bugs in v3
  install.sh
Due: none

[setup] update some css-related deps
  package.json
  yarn.lock
Due: none

[setup] fix wtf with vitest typings
  .vite/cfg.tests.ts
  package.json
  yarn.lock
Due: none

[setup] update some css-related deps
  install.sh
  package.json
  yarn.lock
Due: none

[setup] fix install script errors
  install.sh
Due: none

[setup] update some css-related deps
  install.sh
Due: none

[setup] update node-compat related plugins
  .vite/cfg.node-compat.ts
  package.json
  yarn.lock
Due: none

[setup] update json-server plugin and config
  .vite/cfg.json-server.ts
  mock/api.mock.ts
  mock/index.ts
  mock/tsconfig.json
  package.json
  yarn.lock
Due: none

[setup] typescript@latest
  package.json
  yarn.lock
Due: none
