Repository jeron-diovis/redux-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] fix FileInput styles
  src/components/base/controls/FileInput/FileInput.tsx
  src/components/base/controls/FileInput/styles.module.scss
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] overall cleanup
  config-overrides.js
  src/App.tsx
  src/features/User/components/SessionGuard.tsx
  src/features/User/components/index.ts
  src/hooks/changes.ts
  src/hooks/effects.ts
  src/hooks/index.ts
  src/hooks/useClickEventsPair.ts
  src/hooks/useConfirm.ts
  src/hooks/useCookie.ts
  src/hooks/useDebounce.ts
  src/hooks/useInvariant.ts
  src/hooks/utils.ts
  src/types/global.d.ts
  src/utils/format.ts
  src/utils/index.ts
  src/utils/misc.ts
  src/utils/redux.ts
  src/utils/refs.ts
Due: eslint --cache --fix --max-warnings=0

[setup] update MUI integration: switch to @mui@5 package
  .babelrc.js
Due: none

[demo] @mui usage example. Issue with ThemeProvider.
  package.json
  src/pages/Home.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[demo] fix linter imports sorting for MUI
  .eslint/imports.js
Due: none

[setup] basic controls tweaks
  src/components/base/controls/Control/Control.tsx
  src/components/base/controls/Input/styles.module.scss
  src/components/base/controls/RadioGroup/RadioGroup.tsx
  src/components/base/controls/RadioGroup/types.ts
  src/components/base/controls/Select/Select.tsx
  src/components/base/controls/Select/types.ts
  src/types/global.d.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] fix some types
  src/components/base/form/FieldFileInput/types.ts
  src/components/base/form/Form/FormContext.tsx
  src/types/global.d.ts
Due: eslint --cache --fix --max-warnings=0

[setup] fix eslint
  .eslintrc.js
Due: none

[setup] setup Modal component properly
  src/components/base/Modal/Modal.tsx
  src/components/base/Modal/styles.module.scss
  src/index.tsx
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] non-scrollable page
  src/components/layouts/Page/Page.tsx
  src/components/layouts/Page/styles.module.scss
  src/components/layouts/Page/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] default logo text styles
  src/components/domain/Header/Header.tsx
  src/components/domain/Header/styles.module.scss
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] flex Control
  src/components/base/controls/Control/Control.tsx
  src/components/base/controls/Control/ControlContext.tsx
  src/components/base/controls/Control/styles.module.scss
  src/components/base/controls/Control/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] more layout tweaks
  src/components/layouts/Page/Page.tsx
  src/components/layouts/Page/styles.module.scss
  src/components/layouts/Page/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] base components tweaks
  src/components/base/Tooltip/Tooltip.tsx
  src/components/base/Tooltip/index.ts
  src/components/base/Tooltip/styles.module.scss
  src/components/layouts/Flex/Flex.tsx
  src/components/layouts/Flex/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] add custom renderer for Control / FormControl
  src/components/base/controls/Control/Control.tsx
  src/components/base/controls/Control/types.ts
  src/components/base/form/FieldControl/FieldControl.tsx
  src/components/base/form/FieldControl/types.ts
Due: eslint --cache --fix --max-warnings=0

[setup] FieldControl: properly combine refs provided by field controller and own ref of a child element
  src/components/base/form/FieldControl/FieldControl.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] eslint no-undef; check types in 'fix' cmd
  .eslintrc.js
  package.json
Due: none

[setup] remove no-undef, as it doesn't work with TS, apparently
  .eslintrc.js
Due: none

[vite] rename files to match Vite project
  .eslint/imports.cjs
  .eslint/jsx-control-statements.cjs
  .eslint/prettier.cjs
  .eslint/storybook.cjs
  .eslint/typescript.cjs
  .eslintrc.cjs
  .prettierrc.cjs
  config-overrides.cjs
  get-cra-deps.cjs
Due: none

adopt to react@18
  src/App.tsx
  src/components/base/ErrorMessage/ErrorMessage.tsx
  src/components/base/Hint/Hint.tsx
  src/components/base/Table/Placeholder.tsx
  src/components/base/Tooltip/styles.module.scss
  src/components/base/controls/Control/ControlContext.tsx
  src/components/base/form/Fieldset/Fieldset.tsx
  src/components/base/form/Form/Form.tsx
  src/components/base/form/Form/types.ts
  src/components/layouts/Flex/Flex.tsx
  src/components/layouts/Page/Page.tsx
  src/components/layouts/Page/types.ts
  src/components/layouts/Site/SiteLayout.tsx
  src/components/routing/index.tsx
  src/features/HistoryReferrer/Tracker.tsx
  src/features/User/components/SessionGuard.tsx
  src/index.scss
  src/index.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/types/global.d.ts
  src/utils/misc.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[vite] rough switch to Vite build
  .env
  index.html
  install-cra-deps.sh
  package.json
  prepare.sh
  public/index.html
  src/components/base/Button/stories.tsx
  src/components/base/form/Form/BaseForm.tsx
  src/main.tsx
  src/serviceWorker.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[vite] fix css modules limitations in Vite setup
  .stylelintrc.yml
  src/components/base/controls/FileInput/styles.module.scss
Due: stylelint --cache --fix --max-warnings=0

[setup] update browserlist
  yarn.lock
Due: none

[vite] replace `global` var with `window`
  vite.config.ts
Due: none

[vite] properly setup node modules shimming
  package.json
  vite.config.ts
  yarn.lock
Due: none

[vite] reorganize config, split whole thing on separate logic chunks
  .eslint/imports.cjs
  vite.config.ts
Due: none

[vite] clean up
  src/api/api.ts
  vite.config.ts
Due: eslint --cache --fix --max-warnings=0

[setup] add react-hook/async
  package.json
  src/hooks/index.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[vite] add json-server plugin
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc
  mock/api.mock.ts
  mock/tsconfig.json
  package.json
  vite.config.ts
Due: none

[vite] major cleanup. Split apart vite config. Keep infrastructure config files linted.
  .eslintrc.cjs
  .vite/cfg.bundle-visualizer.ts
  .vite/cfg.json-server.ts
  .vite/cfg.lint.ts
  .vite/cfg.modular-imports.ts
  .vite/cfg.node-compat.ts
  .vite/index.ts
  .vite/lib.ts
  package.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: none

[setup] Fix an issue with lint-staged failing in attempting to lint files ignored by eslint config.
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc
  .lintstagedrc.cjs
  package.json
Due: none

[setup] clean up
  .vite/cfg.bundle-visualizer.ts
  .vite/cfg.json-server.ts
  .vite/cfg.modular-imports.ts
  .vite/cfg.node-compat.ts
  .vite/lib.ts
Due: none

empty project created
  .gitignore
  index.html
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

Install all the deps
  install.sh
  package.json
  yarn.lock
Due: none

Setup all tools configs
  .browserslistrc
  .eslint/imports.cjs
  .eslint/jsx-control-statements.cjs
  .eslint/prettier.cjs
  .eslint/typescript.cjs
  .eslintignore
  .eslintrc.cjs
  .prettierrc.cjs
  .stylelintignore
  .stylelintrc.yml
  .vite/cfg.bundle-visualizer.ts
  .vite/cfg.json-server.ts
  .vite/cfg.lint.ts
  .vite/cfg.modular-imports.ts
  .vite/cfg.node-compat.ts
  .vite/index.ts
  .vite/lib.ts
  mock/api.mock.ts
  mock/tsconfig.json
  package.json
  src/types/jsx-if.d.ts
  src/types/vite-env.d.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --cache --fix --max-warnings=0

Apply lint to sources
  public/vite.svg
  src/App.module.css
  src/App.tsx
  src/Counter.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

Add precommit hook
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.cjs
  install.sh
  package.json
  prepare.sh
  yarn.lock
Due: none

keystore-idb demo
  .eslint/typescript.cjs
  README.md
  package.json
  public/console.png
  public/db.png
  public/page.png
  src/App.module.css
  src/App.module.scss
  src/App.tsx
  src/Counter.tsx
  src/keystore.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

ignore cache files
  .gitignore
Due: none

Path conditions:
  eslint --cache --fix --max-warnings=0: any of: src/**/*.{js,ts}{,x}
  stylelint --cache --fix --max-warnings=0: any of: src/**/*.{s,}css
