Repository jeron-diovis/redux-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] basic setup of storybook
  .babelrc.js
  .env
  .eslintrc.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/base/Button/stories.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[setup] form: update react-hook-form version, update generics order in lib types
  src/components/base/controls/RadioGroup/RadioGroup.tsx
  src/components/base/controls/Select/Select.tsx
  src/components/base/form/FieldCheckbox/FieldCheckbox.tsx
  src/components/base/form/FieldControl/types.ts
  src/components/base/form/FieldInput/FieldInput.tsx
  src/components/base/form/FieldRadio/FieldRadio.tsx
  src/components/base/form/FieldRadio/types.ts
  src/components/base/form/FieldSelect/FieldSelect.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[setup] minor optimization tweaks
  src/components/base/ErrorComponent/ErrorComponent.tsx
  src/components/base/Grid/Grid.tsx
  src/components/base/controls/Control/Control.tsx
  src/components/base/controls/Input/Input.tsx
  src/components/base/controls/RadioGroup/RadioGroup.tsx
  src/components/base/controls/Select/Select.tsx
  src/components/base/form/FieldControl/FieldControl.tsx
  src/components/base/form/FieldControl/types.ts
  src/components/base/form/FieldInput/FieldInput.tsx
  src/components/base/form/FieldRadio/FieldRadio.tsx
  src/components/base/form/FieldSelect/FieldSelect.tsx
  src/components/base/form/Form/BaseForm.tsx
  src/components/base/form/Form/Form.tsx
  src/utils/index.ts
Due: eslint --cache --fix --max-warnings=0

[setup] update react-hook-form, again change controller types signature
  package.json
  src/components/base/form/FieldControl/types.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[setup] tmp
  package.json
  yarn.lock
Due: none

[setup] add scripts for auto-installing all CRA dependencies related to eslint
  get-cra-deps.js
  install-cra-deps.sh
  package.json
Due: none

[setup] update deps Excluded: * react-router – because of breaking changes in v.6 * eslint 8 – breaking changes in requirements to rules config, 3-party packages are breaking
  package.json
  yarn.lock
Due: none

[setup] split apart .eslintrc.js
  .eslint/imports.js
  .eslint/jsx-control-statements.js
  .eslint/storybook.js
  .eslint/typescript.js
  .eslintrc.js
Due: none

[setup] eslint: make 'quotes' be handled by eslint, because prettier allows backticks as single quotes
  .eslintrc.js
Due: none

[setup] stylelint: wrap filepath into quotes, to enable stylelint's cross-platform globs support
  package.json
Due: none

[setup] remove everything related to redux for minimal React setup
  package.json
  src/App.test.tsx
  src/App.tsx
  src/Router.tsx
  src/components/domain/Header/AuthMenu.tsx
  src/components/domain/Header/Header.tsx
  src/components/routing/index.tsx
  src/features/Counter/Counter.module.css
  src/features/Counter/Counter.tsx
  src/features/Counter/api.ts
  src/features/Counter/counterSlice.spec.ts
  src/features/Counter/index.ts
  src/features/Counter/slice.ts
  src/features/HistoryReferrer/GoBack.tsx
  src/features/HistoryReferrer/Tracker.tsx
  src/features/HistoryReferrer/index.ts
  src/features/HistoryReferrer/slice.ts
  src/features/User/api.ts
  src/features/User/components/LoginForm.tsx
  src/features/User/components/SessionChecker.tsx
  src/features/User/index.ts
  src/features/User/selectors.ts
  src/features/User/slice.ts
  src/features/User/thunks.ts
  src/features/User/types.ts
  src/hooks/utils.ts
  src/index.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/routes.ts
  src/store.ts
  src/utils/index.ts
  src/utils/redux.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] eslint: enable `prefer-arrow-callback` rule
  .eslintrc.js
Due: none

[setup] add `.stylelintcache` to gitignore
  .gitignore
Due: none

[setup] pre-commit: run local tsc via npx
  .husky/pre-commit
Due: none

[setup] RadioGroup: - fix value / data props: make them work same as in Select component - add `optionClassName` / `optionStyle` props
  src/components/base/controls/RadioGroup/RadioGroup.tsx
  src/components/base/controls/RadioGroup/types.ts
Due: eslint --cache --fix --max-warnings=0

[setup] minor tweaks of basic layouts styles. `Page` layout: allow to disable centering.
  src/components/layouts/Main/styles.module.scss
  src/components/layouts/Page/styles.module.scss
  src/components/layouts/Page/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] dynamically detect free port for webpack-bundle-analyzer
  config-overrides.js
  package.json
Due: none

[setup] Control: cleanup; rename `layout` prop values for move convenience; use grid css props moore wisely and efficiently; enforce single child
  src/components/base/controls/Control/Control.tsx
  src/components/base/controls/Control/lib.ts
  src/components/base/controls/Control/styles.module.scss
  src/components/base/controls/Control/types.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] FieldCheckbox: cleanup
  src/components/base/form/FieldCheckbox/FieldCheckbox.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] RadioGroup: remove props `Tag` / `className` / `style`; replace them with `layout` renderer prop and `row` / `col` shortcut layouts. Add `renderOption` renderer prop.
  src/components/base/controls/RadioGroup/RadioGroup.tsx
  src/components/base/controls/RadioGroup/types.ts
Due: eslint --cache --fix --max-warnings=0

[setup] RadioGroup: pass `disabled` prop to each input. Don't inherit a whole bunch of Input's props.
  src/components/base/controls/RadioGroup/RadioGroup.tsx
  src/components/base/controls/RadioGroup/types.ts
Due: eslint --cache --fix --max-warnings=0

[setup] update wrong prop value
  src/features/User/components/LoginForm.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] eslint: enable 'no-unreachable' rule which is somehow doesn't work from eslint:recommended
  .eslintrc.js
Due: none

[setup] Page layout: fix horizontal scrolling
  src/components/layouts/Page/styles.module.scss
Due: stylelint --cache --fix --max-warnings=0

[setup] Page layout: disable content horizontal centering by default
  src/components/layouts/Page/Page.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] Table: add pagination; add empty table placeholder; make header cells text bold by default.
  src/components/base/Table/Pagination.tsx
  src/components/base/Table/Placeholder.tsx
  src/components/base/Table/Table.tsx
  src/components/base/Table/pagination.module.scss
  src/components/base/Table/styles.module.scss
  src/components/base/Table/table.module.scss
  src/components/base/Table/types.ts
  src/components/base/Table/types/index.ts
  src/components/base/Table/types/pagination.ts
  src/components/base/Table/types/table.ts
  src/components/base/Table/types/util.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] Table: remove some rushed and useless pagination option
  src/components/base/Table/Table.tsx
  src/components/base/Table/types/table.ts
Due: eslint --cache --fix --max-warnings=0

[setup] Page layout: fix vertical overflow style
  src/components/layouts/Page/styles.module.scss
Due: stylelint --cache --fix --max-warnings=0

Revert "[setup] Page layout: fix vertical overflow style"
  src/components/layouts/Page/styles.module.scss
Due: stylelint --cache --fix --max-warnings=0

[setup] add react-app-error-boundary package. Remove custom `ErrorBoundary` component from project. Rename `ErrorComponent` -> `ErrorMessage`
  package.json
  src/App.tsx
  src/components/base/ErrorBoundary.tsx
  src/components/base/ErrorComponent/index.ts
  src/components/base/ErrorMessage/ErrorMessage.tsx
  src/components/base/ErrorMessage/index.ts
  src/components/base/ErrorMessage/styles.module.scss
  src/components/base/form/Form/BaseForm.tsx
  src/components/base/index.ts
  src/index.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] fix configuration for `@typescript-eslint/no-unused-vars`. Validate unused func params.
  .eslint/typescript.js
  src/components/base/Table/Table.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] add `useInvariant` hook. Add `layout` mode for `useOnChange`.
  src/hooks/changes.ts
Due: eslint --cache --fix --max-warnings=0

[setup] move LinkButton into Button module; add stubs for different button kinds (primary/secondary)
  src/components/base/Button/Button.tsx
  src/components/base/Button/index.ts
  src/components/base/Button/stories.tsx
  src/components/base/Button/styles.module.scss
  src/components/base/LinkButton/LinkButton.tsx
  src/components/base/LinkButton/index.ts
  src/components/base/LinkButton/styles.module.scss
  src/components/base/index.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] refactor auth-flow. Add tools for checking user role. Move auth-routes into `features/User`.
  src/Router.tsx
  src/components/routing/index.tsx
  src/features/HistoryReferrer/GoBack.tsx
  src/features/HistoryReferrer/Tracker.tsx
  src/features/HistoryReferrer/hooks.ts
  src/features/HistoryReferrer/index.ts
  src/features/HistoryReferrer/lib.ts
  src/features/HistoryReferrer/slice.ts
  src/features/User/api.ts
  src/features/User/components/AuthOnly.tsx
  src/features/User/components/AuthRoute.tsx
  src/features/User/components/GuestOnly.tsx
  src/features/User/components/GuestRoute.tsx
  src/features/User/components/LoginForm.tsx
  src/features/User/components/SessionChecker.tsx
  src/features/User/components/index.ts
  src/features/User/hooks/hooks.ts
  src/features/User/hooks/index.ts
  src/features/User/hooks/useRoleAccess.ts
  src/features/User/index.ts
  src/features/User/lib.ts
  src/features/User/selectors.ts
  src/features/User/slice.ts
  src/features/User/thunks.ts
  src/features/User/types.ts
Due: eslint --cache --fix --max-warnings=0

[setup] Prevent accessing login page by authorized users on first load. Redirect to user's dedicated homepage, instead of site root for everyone.
  src/features/HistoryReferrer/Tracker.tsx
  src/features/User/components/GuestRoute.tsx
Due: eslint --cache --fix --max-warnings=0

[setup] add utility-types package
  package.json
  yarn.lock
Due: none

[setup] reorganize formatters and layout components. Refactor GridLayout options, get better use of grid css api. Add Flex layout.
  src/App.tsx
  src/components/base/DateFormat/index.ts
  src/components/base/Grid/Grid.tsx
  src/components/base/Grid/index.ts
  src/components/base/Grid/types.ts
  src/components/base/form/Fieldset/Fieldset.tsx
  src/components/base/form/Form/Form.tsx
  src/components/base/formatters/Bool.tsx
  src/components/base/formatters/DateTime/DateTime.tsx
  src/components/base/formatters/DateTime/index.ts
  src/components/base/formatters/DateTime/styles.module.scss
  src/components/base/formatters/DateTime/types.ts
  src/components/base/formatters/Nullable.tsx
  src/components/base/formatters/index.ts
  src/components/base/index.ts
  src/components/layouts/Flex/Flex.tsx
  src/components/layouts/Flex/index.ts
  src/components/layouts/Flex/types.ts
  src/components/layouts/Grid/Grid.tsx
  src/components/layouts/Grid/index.ts
  src/components/layouts/Grid/styles.module.scss
  src/components/layouts/Grid/types.ts
  src/components/layouts/Main/index.ts
  src/components/layouts/Main/types.ts
  src/components/layouts/Page/Page.tsx
  src/components/layouts/Page/index.ts
  src/components/layouts/Site/SiteLayout.tsx
  src/components/layouts/Site/index.ts
  src/components/layouts/Site/styles.module.scss
  src/components/layouts/index.ts
  src/utils/index.ts
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] await for logout response
  src/features/User/thunks.ts
Due: eslint --cache --fix --max-warnings=0

deps update
  package.json
  src/components/base/controls/RadioGroup/RadioGroup.tsx
  src/components/routing/index.tsx
  src/features/Counter/Counter.module.css
  src/utils/redux.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[setup] downgrade back to react@17, because of https://github.com/remix-run/react-router/issues/7870
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint --cache --fix --max-warnings=0: any of: src/**/*.{js,ts}{,x}
  stylelint --cache --fix --max-warnings=0: any of: src/**/*.{s,}css
