Repository jeron-diovis/redux-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

ts-lint: disable @typescript-eslint/no-non-null-assertion
  .eslint/typescript.cjs
Due: none

eslint: fix rules override for non-src files
  .eslintrc.cjs
Due: none

try out vite-plugin-node
  .eslintrc.cjs
  .vite/cfg.node-app.ts
  .vite/index.ts
  package.json
  src/main.ts
  src/main.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

[node] remove everything related to browser app
  .browserslistrc
  .env
  .eslint/jsx-control-statements.cjs
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc.cjs
  .stylelintignore
  .stylelintrc.yml
  .vite/cfg.json-server.ts
  .vite/cfg.lint.ts
  .vite/cfg.modular-imports.ts
  .vite/cfg.node-compat.ts
  .vite/index.ts
  index.html
  install.sh
  mock/api.mock.ts
  mock/tsconfig.json
  package.json
  src/App.module.css
  src/App.tsx
  src/Counter.tsx
  src/assets/react.svg
  src/index.css
  src/main.ts
  src/types/jsx-if.d.ts
  src/types/vite-env.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0, stylelint --cache --fix --max-warnings=0

[node] enable node debugger TODO: no sourcemaps in this mode.
  package.json
Due: none

[vite] modularize imports from 'date-fns'
  .vite/cfg.modular-imports.ts
Due: none

[setup] remove regular lodash because of its excessive modules size; use lodash-es and/or ramda instead.
  .vite/cfg.modular-imports.ts
  install.sh
  package.json
  yarn.lock
Due: none

[setup] modularize imports from date-fns
  .vite/cfg.modular-imports.ts
Due: none

[setup] clean up
  .vite/cfg.modular-imports.ts
  install.sh
Due: none

[vite] enable chunks-splitting
  .vite/cfg.chunk-split.ts
  .vite/index.ts
  package.json
  yarn.lock
Due: none

[setup] configure modular imports; switch to lodash-es from lodash for better tree-shaking support.
  .vite/cfg.modular-imports.ts
  package.json
  src/components/base/Table/Table.tsx
  src/components/base/form/FieldCheckbox/FieldCheckbox.tsx
  src/components/base/form/FieldFileInput/FieldFileInput.tsx
  src/components/base/form/FieldInput/FieldInput.tsx
  src/components/base/form/Form/FormDebug.tsx
  src/hooks/useConfirm.ts
  src/hooks/useDebounce.ts
Due: eslint --cache --fix --max-warnings=0

first dirty impl
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

debug cache overflow
  src/App.tsx
Due: eslint --cache --fix --max-warnings=0

fix typings for non-inline functions
  src/App.tsx
Due: eslint --cache --fix --max-warnings=0

allow key resolver as just string
  src/App.tsx
Due: eslint --cache --fix --max-warnings=0

test failed fetch
  src/App.tsx
Due: eslint --cache --fix --max-warnings=0

clean up
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

remove CacheContext
  src/App.tsx
Due: eslint --cache --fix --max-warnings=0

clean up
  src/App.tsx
Due: eslint --cache --fix --max-warnings=0

get back CacheContext it may be convenient to separate caches for different app parts
  src/App.tsx
Due: eslint --cache --fix --max-warnings=0

split apart
  src/App.tsx
  src/lib/cache.ts
  src/lib/index.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

[eslint] fix rules override for non-src scripts
  .eslintrc.cjs
Due: none

clean up
  src/lib/cache.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

add debugging
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

clean up remove logging for error case, because of the weird React behaviour when you throw in render phase
  src/App.tsx
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

move all logging details to logger module
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

clean up
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

add hasher func to create cache keys allow to track changes of loader callback
  package.json
  src/App.tsx
  src/lib/logger.ts
  src/lib/useSuspense.ts
  yarn.lock
Due: eslint --cache --fix --max-warnings=0

allow to set custom debug label
  src/App.tsx
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

Get rid of lazy-initialized default cache. Allow to pass a separate cache instance to particular useSuspense call.
  src/App.tsx
  src/lib/cache.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

clean up
  src/App.tsx
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

fix a horrible mistake in using CacheProvider
  src/lib/cache.ts
Due: eslint --cache --fix --max-warnings=0

logging improved
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

implement hook version exposing a force-reload method
  src/App.tsx
  src/lib/cache.ts
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

rework hook interface: don't require to pass an empty deps array for funcs with no arguments
  src/App.tsx
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

clean up
  src/lib/cache.ts
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

Allow to specify a resource name, so independent suspenses can share same promise instead fetching each on their own.
  src/App.tsx
  src/lib/cache.ts
  src/lib/logger.ts
  src/lib/useSuspense.ts
Due: eslint --cache --fix --max-warnings=0

limit default cache size to 100 entries
  src/lib/cache.ts
Due: eslint --cache --fix --max-warnings=0

Path conditions:
  eslint --cache --fix --max-warnings=0: any of: src/**/*.{js,ts}{,x}
  stylelint --cache --fix --max-warnings=0: any of: src/**/*.{s,}css
